<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="static/css/main.css">

        <script src="static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Welcome to Weather App</a>
        </div>
      </div>
    </nav>


    <div class="container">
      <div class="row" style = "margin-top:10px">
	  	<form action="/" method = "post"  class="form-inline">
		  <div class="col-md-6 form-group">
			 <label for="location">Location/Zip Code:</label>
			<input type = "text" name = "location" class="form-control" placeholder = "enter your Location here" value = "{{location}}"/>
			<input type = "submit" name="search" value = "search" class = "btn btn-primary"/>
		   </div>
		   <div class="col-md-2">
		   </div>
		   <div class="col-md-4 form-group">
			{% if forcast %}
			<input type = "text" name = "emailId" class="form-control" placeholder = "enter your email here" value = ""/>
			<input type = "submit" name="email" value = "Send As Email" class = "btn btn-primary"/>
			{% endif %}
			
		   </div>
		   
		   </form>
	   </div>
      <hr>
	 {% if forcast %}
	 
	 <div id="content">
			<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
				<li class="active"><a href="#Hourly" data-toggle="tab">Hourly</a></li>
				<li><a href="#daily" data-toggle="tab">Daily</a></li>
			</ul>
			<div id="my-tab-content" class="tab-content">
				<div class="tab-pane active" id="Hourly">
				    <h2>Hourly Avarage Tempreture : {{forcast.hourly_mean}} &#8451;</h2>
					<img src="static/images/{{forcast.hourly}}" height="400px" />
				</div>
				<div class="tab-pane" id="daily">
					<h2>Daily Avarage Tempreture : {{forcast.daily_mean}} &#8451;</h2>
					<img src="static/images/{{forcast.daily}}" height="400px" />
				</div>
			</div>
		</div>
      </div>
	  {% endif %}
    <!--  <footer>
        <p>&copy; Company 2015</p>
      </footer>-->
    </div> <!-- /container -->        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="static/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="static/js/vendor/bootstrap.min.js"></script>

        <script src="static/js/main.js"></script>

    </body>
</html>
